*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  
}
body{
  background: url(bk.png);
  height: 100vh;
  background-size:cover;
  
}
.navbar{
    display: flex;
    width: 100%;
    height: 50px;
   
   
    align-items: center;
    justify-content:space-between;
    background-color: rgb(249, 249, 249);
}

.home{
    padding-left: 10px;
    cursor: pointer;
    font-size: larger;
    
}
.About{
   margin-left: -80%;
    cursor: pointer;
    font-size: larger;
}
.login{
    cursor: pointer;
    margin-right: 10px;
    font-size: larger;
}
.logo
{
    text-align: center;
    font-size: 3em;
}

.container{
   margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;

   margin-left: 28%;
   flex-direction: column;
    height: 500px;
    width: 600px;
    /* border: 2px solid black; */
    /* background-color: black; */
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,70,108,1) 46%, rgba(0,212,255,1) 85%);
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.form{
    display: flex;
    justify-content: center;
    justify-items:center;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 50px;
  width: 500px;
   
    height: 55px;
}
.form1, .form1, .form2{
    display: flex;
    justify-content: center;
    justify-items:center;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 50px;
  width: 500px;
   
    height: 55px;
}



.name{
    color: #fff;
   margin-top: 10px;
   margin-right: 10px;
}
.input, .input1, .input2{
    margin-top: 10px;
    height: 30px;
    width: 200px;
}





.btn {
  margin: 10px;
  width: 90px;
  /* padding: 15px 14px; */
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 500;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
 
}

.btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn:active {
  transform: scale(0.95);
}



.clear{
    margin: 10px;
    width: 90px;
    padding: 15px 14px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 500;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
 
   margin-left: 40%;
}

.clear:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .clear:active {
    transform: scale(0.95);
  }
  



